body {
    font-family: serif;
    background: #404682;
    color: whitesmoke;
    padding: 0.6rem;
    text-align: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav{
    padding: 1rem;
    font-size: 0.7rem;
    border-radius: 0.2rem;
}
nav a{
    color: inherit;
    text-decoration: none;
    margin: 0rem 1rem;
}

.contact-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    background: #4F5D98;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    max-width: 600px;
}
.contact-detail button{
    background: #6E80CE;
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    color: whitesmoke;
}

.contact-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.home button{
    background: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.7rem;
    color: #41435A;
}
.home button a{
    color: whitesmoke;
    text-decoration: none;
}
.home input{
    padding: 0.5rem 1.7rem;
    border-radius: 0.7rem;
    border: none;
    outline-color: #445085;
}

#nameInputD{
    padding: 0.5rem 0.3rem;
    border-radius: 0.7rem;
    border: none;
    outline-color: #445085;
    margin: 1rem 0.3rem;
}
.delete-btn {
    background: white;
    padding: 0.5rem 0.3rem;
    border: none;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
    color: #41435A;
}

.contact-avail{
    overflow: scroll;
    height: 100px;
}
.aboutUs{
    max-width: 400px;
}

.contact-list{
    overflow-y: scroll;
    height: 369px;
}